# [How is a pandas column of rows containing variable length and comma separated strings of values, stacked into separate values?](https://stackoverflow.com/questions/52613747/how-to-iterate-over-a-csv-file-so-that-each-value-is-seperated)

In [1]:
import pandas as pd

### Create the DataFrame

In [2]:
df = pd.read_csv('data/2018-10-02_routes.csv')

In [3]:
df.head()

                        routes
0                          126
1                      121,123
2  1,7,X28,126,129,130,132,151
3      1,7,X28,126,129,130,151
4          1,7,X28,126,129,130

## Split the strings into lists of values

In [5]:
df_routes = df.routes.apply(lambda row: pd.Series(row).str.split(','))

In [6]:
df_routes.head()

                                      0
0                                 [126]
1                            [121, 123]
2  [1, 7, X28, 126, 129, 130, 132, 151]
3       [1, 7, X28, 126, 129, 130, 151]
4            [1, 7, X28, 126, 129, 130]

## Stack the strings into individual values

In [7]:
df_routes = df_routes.apply(lambda row: pd.Series(row[0]), axis=1).stack().reset_index(level=1, drop=True)

In [8]:
df_routes.head(10)

0    126
1    121
1    123
2      1
2      7
2    X28
2    126
2    129
2    130
2    132
dtype: object

## Save it to a csv file

In [ ]:
df_routes.to_csv('test.csv', index=False)